@import '../../vars';

.Sudoku {
  height: 100%;

  > * {
    display: block;
    float: left;
    width: calc(#{$contentWidth} / 9);
    height: calc(#{$contentWidth} / 9);
    line-height: calc(#{$contentWidth} / 9);
    padding: 0;
    margin: 0;
    color: #FFF;
    text-align: center;
    font-size: 5vh;
    background-color: transparent;
    border: none;
    border-left: 1px solid #FFF;
    border-top: 1px solid #FFF;
    cursor: default;

    &.focus {
      box-shadow: 0 0 3px 1px #FFF;
      background-color: #333;
    }

    &.init {
      background-color: #111;
    }

    // Basic lines
    &:nth-child(9n) {
      border-right: 1px solid #FFF;
    }

    &:nth-child(n + 73) {
      border-bottom: 1px solid #FFF;
    }

    // Vertical bold lines
    &:nth-child(9n + 3) {
      border-right: 2px solid #FFF;
    }

    &:nth-child(9n + 6) {
      border-right: 2px solid #FFF;
    }

    // Horizontal bold lines
    &:nth-child(19),
    &:nth-child(20),
    &:nth-child(21),
    &:nth-child(22),
    &:nth-child(23),
    &:nth-child(24),
    &:nth-child(25),
    &:nth-child(26),
    &:nth-child(27) {
      border-bottom: 2px solid #FFF;
    }

    &:nth-child(46),
    &:nth-child(47),
    &:nth-child(48),
    &:nth-child(49),
    &:nth-child(50),
    &:nth-child(51),
    &:nth-child(52),
    &:nth-child(53),
    &:nth-child(54) {
      border-bottom: 2px solid #FFF;
    }
  }
}
