.Home {
  color: #FFF;

  .joinContainer {
    width: 100%;
    height: 5vh;
    background-color: #F19113;
  }

  .boxesContainer {
    width: 100%;
    height: 100vh;

    * {
      text-align: center;
    }

    > * {
      height: calc(100% / 3);
      width: 50%;
      background-color: grey;
      float: left;
    }

    .alone {
      background-color: #283646;
    }

    .1vs1 {
      background-color: #823CA3;
    }

    .playInTeam {
      background-color: #2474AF;
    }

    .teamsVsTeams {
      background-color: #23A456;
    }

    .deathMatch {
      background-color: #B93226;
    }

    .others {
      > * {
        height: 50%;
        width: 50%;
        float: left;
      }

      .stats {
        background-color: #333;
      }

      .config {
        background-color: #222;
      }

      .help {
        background-color: #111;
      }

      .logout {
        background-color: #000;
      }
    }
  }
}
