.Home {
  .joinContainer {
    width: 100%;
    height: 5vh;
    background-color: #F19113;
  }

  .boxesContainer {
    width: 100%;
    height: 100vh;

    * {
      text-align: center;
      line-height: calc(100vh / 3);
      cursor: pointer;
    }

    > * {
      height: calc(100% / 3);
      width: 50%;
      float: left;
      line-height: calc(100vh / 3);
      font-size: 3.8vh;
    }

    .alone {
      background-color: #283646;
    }

    .oneVsOne {
      background-color: #823CA3;
    }

    .playInTeam {
      background-color: #2474AF;
    }

    .teamsVsTeams {
      background-color: #23A456;
    }

    .deathMatch {
      background-color: #B93226;
    }

    .others {
      > * {
        height: 50%;
        width: 50%;
        float: left;
        line-height: calc(100vh / 6);
        font-size: 7vh;
      }

      .stats {
        background-color: #666;
      }

      .config {
        background-color: #444;
      }

      .help {
        background-color: #222;
      }

      .logout {
        background-color: #000;
      }
    }
  }
}
