.Done {
  text-align: center;

  .title {
    line-height: calc(100vh / 3);
    margin: 0;
  }

  .timeInfo {
    height: calc(100vh / 3);

    h3 {
      margin: 0;
    }
  }

  .button {
    line-height: calc(100vh / 3);
  }
}
